body {
  background-image: url("https://images.unsplash.com/photo-1516528387618-afa90b13e000?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  text-align: center;
  align-items: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#name {
  font-family: "Bungee Inline", cursive;
  font-size: 30px;
  margin-top: 10px;
  color: maroon;
}

.title {
  font-family: "Bungee Inline", cursive;
  font-size: 60px;
  color: maroon;
}

#drop-down {
  margin-left: 30px;
}

#navbarDropdown {
  color: black;
}

.row {
  display: flex;
}

em {
  color: white;
}

h1 {
  color: maroon;
}

.pic {
  width: 300px;
  height: 300px;
}
